* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-global{
    background-color: #041026;
    font-family: Raleway;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 60px;
    background-color: #5581D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    /*box-sizing: border-box*/
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #0B1E59;
}

/*main {
    flex: ;
}*/

main > section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-intro {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: -80px;

}

.imagem-intro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.container-intro {
    width: 100%;
    padding: 80px;
    text-align: center;
}

.habilidades {
    text-align: center;
    padding: 40px;
    background-color: #0B1E59;
    color: white;
}

.habilidades h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #5581D9;
}

.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades ul li {
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
}

.habilidades ul li .hab-1 {
    color: white;
    background-color: #463B8C;
}

.hab-2 {
    color: white;
}

.hab-3 {
    background-color: #463B8C;
    color: white;
}
    
